html{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout:none;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: lavender;
}

canvas {
  width: 100%;
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  color: hotpink;
}

.main {
  background: hotpink;
  padding: 50px;
  border-radius: 4px;
  display: flex;
  margin: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

a {
  color: white;
  display: block;
  text-decoration: unset;
  font-size: 20px;
  margin: 5px 0;
}

a:hover {
  color: #3f51b5;
}
